@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
.hero {
  background-image: url("../Recursos/Patters.png");
  background-size: cover;
  background-position: center;
}

.hero__container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px 0;
  max-width: 1200px;
  max-height: 600px;
  color: #ffffff;
}

.hero__name {
  font-family: Sora;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 177.7%;
  letter-spacing: 0.265em;
  margin-top: none;
  max-width: 250px;
}

.hero__subname {
  font-family: Sora;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 177.7%;
  letter-spacing: 0.46em;
  margin-bottom: 100px;
}

.hero__navigation {
  font-family: Sora;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 177.7%;
  letter-spacing: 0.265em;
  text-align: right;
}

.hero__navText {
  display: inline;
  padding: 10px;
  list-style: none;
  margin-top: 100px;
}

.hero__text {
  padding: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 200%;
  text-transform: uppercase;
  letter-spacing: 0.265em;
  color: white;
  margin-bottom: 100em;
}

@media screen and (max-width: 500px) {
  .hero {
    background-image: url("../Recursos/Patters.png");
    background-size: cover;
    background-position: center;
  }
  .hero__container {
    width: 100%;
    margin: 0 30px;
    overflow: hidden;
    padding: 50px 0;
    max-width: 300px;
    max-height: 400px;
    color: #ffffff;
  }
  .hero__name {
    font-family: Sora;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 177.7%;
    letter-spacing: 0.265em;
    margin-top: none;
    max-width: 250px;
  }
  .hero__subname {
    font-family: Sora;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 177.7%;
    letter-spacing: 0.46em;
    margin-bottom: 100px;
  }
  .hero__navigation {
    display: none;
    font-family: Sora;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 177.7%;
    letter-spacing: 0.265em;
    text-align: right;
  }
  .hero__navText {
    display: inline;
    padding: 10px;
    list-style: none;
    margin-top: 100px;
    font-family: Sora;
  }
  .hero__text {
    padding: 0px;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 200%;
    text-transform: uppercase;
    letter-spacing: 0.265em;
    color: white;
    margin-bottom: 100em;
  }
  .hero__burguer {
    display: block;
    position: absolute;
    right: 25px;
  }
}

.about {
  background-image: url(../Recursos/About.png);
  font-family: Source Sans Pro;
  background-size: cover;
}

.about__container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px 0;
  max-width: 1200px;
  max-height: 2000px;
  color: #ffffff;
}

.about__title {
  margin-top: 350px;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 177.7%;
  letter-spacing: 0.265em;
  text-align: center;
  text-transform: uppercase;
}

.about__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 177.7%;
  text-align: center;
  letter-spacing: 0.25em;
}

@media screen and (max-width: 500px) {
  .about {
    background-image: url(../Recursos/About.png);
    font-family: Source Sans Pro;
    background-size: cover;
  }
  .about__container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0;
    max-width: 500px;
    max-height: 1000px;
    color: #ffffff;
  }
  .about__title {
    margin-top: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 177.7%;
    letter-spacing: 0.265em;
    text-align: center;
    text-transform: uppercase;
  }
  .about__text {
    font-style: normal;
    font-weight: lighter;
    font-size: 11px;
    line-height: 177.7%;
    text-align: center;
    letter-spacing: 0.25em;
  }
}

.products {
  background-image: url(../Recursos/Products.png);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  font-family: Source Sans Pro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1080px;
}

.products__name {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.products__price {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 20 px;
  line-height: 50px;
  letter-spacing: 10px;
}

.products__text {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 177.7%;
  letter-spacing: 0.25em;
}

.products__image {
  padding-top: 128px;
  padding-left: 150px;
  padding-bottom: 62px;
}

.products__banana {
  background-image: url(../Recursos/Rectangle.png);
}

@media screen and (max-width: 500px) {
  .products {
    background-image: url(../Recursos/Products.png);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    font-family: Source Sans Pro;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 900px;
  }
  .products__name {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
  }
  .products__price {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20 px;
    line-height: 50px;
    letter-spacing: 10px;
  }
  .products__text {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 177.7%;
    letter-spacing: 0.25em;
    margin: 0px 10px;
  }
  .products__image {
    padding-top: 128px;
    padding-left: 90px;
    padding-bottom: 62px;
  }
  .products__banana {
    background-image: url(../Recursos/Rectangle.png);
    mix-blend-mode: multiply;
    display: none;
  }
  .products__blueberries {
    display: none;
  }
}

.promotion {
  background-image: url(../Recursos/Promotion.png);
  font-family: Source Sans Pro;
  background-size: cover;
}

.promotion__container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px 0;
  max-width: 1200px;
  max-height: 2000px;
  color: #ffffff;
}

.promotion__title {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 177.7%;
  text-align: center;
  letter-spacing: 0.265em;
  text-transform: uppercase;
}

.promotion__text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 177.7%;
  text-align: center;
  letter-spacing: 0.25em;
}

.promotion__containerBtn {
  padding-left: 520px;
  padding-top: 50px;
}

.promotion__btn {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 29px;
  padding-right: 28px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ffffff00;
  border: 1.5px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.promotion__btn:hover {
  color: #ffffff;
  background-color: #ffffff49;
}

@media screen and (max-width: 500px) {
  .promotion__container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0;
    max-width: 500px;
    max-height: 800px;
    color: #ffffff;
  }
  .promotion__title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 177.7%;
    text-align: center;
    letter-spacing: 0.265em;
    text-transform: uppercase;
  }
  .promotion__text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 177.7%;
    text-align: center;
    letter-spacing: 0.25em;
    margin-bottom: 20px;
  }
  .promotion__btn {
    margin-left: 35%;
    margin-top: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 19px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ffffff00;
    border: 1.5px solid #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .promotion__btn:hover {
    color: #ffffff;
    background-color: #ffffff49;
  }
}

@media screen and (max-width: 500px) {
  .promotion__container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0;
    max-width: 500px;
    max-height: 800px;
    color: #ffffff;
  }
  .promotion__title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 177.7%;
    text-align: center;
    letter-spacing: 0.265em;
    text-transform: uppercase;
  }
  .promotion__text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 177.7%;
    text-align: center;
    letter-spacing: 0.25em;
    margin-bottom: 20px;
  }
  .promotion__btn {
    margin-left: 35%;
    margin-top: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 19px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ffffff00;
    border: 1.5px solid #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .promotion__btn:hover {
    color: #ffffff;
    background-color: #ffffff49;
  }
}

.footer {
  background-color: #000002;
  color: #ffffff;
  font-family: Source Sans Pro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 330px;
  padding: 50px;
}

.footer__name {
  font-family: Sora;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 177.7%;
  letter-spacing: 0.265em;
  margin-top: 75px;
  max-width: 250px;
}

.footer__subname {
  font-family: Sora;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 177.7%;
  letter-spacing: 0.46em;
}

.footer__text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #727272;
}

.footer__nav {
  font-size: 14px;
  text-align: right;
  position: absolute;
  margin-left: 0px;
}

.footer__navText {
  display: inline;
  padding: 10px;
  list-style: none;
}

@media screen and (max-width: 500px) {
  .footer {
    background-color: #000002;
    color: #ffffff;
    font-family: Source Sans Pro;
    display: block;
    height: 250px;
    padding: 10px 25px;
  }
  .footer__name {
    font-family: Sora;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 177.7%;
    letter-spacing: 0.265em;
    margin-top: 0px;
    max-width: 250px;
  }
  .footer__subname {
    font-family: Sora;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 177.7%;
    letter-spacing: 0.46em;
  }
  .footer__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #727272;
    margin-bottom: 20px;
  }
  .footer__nav {
    font-size: 10px;
    text-align: left;
  }
  .footer__navText {
    display: inline;
    padding: 0px;
    list-style: none;
  }
}

.form {
  background-color: #000002;
  text-align: center;
  font-family: Source Sans Pro;
}

.form__container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px 0;
  max-width: 1200px;
  max-height: 2000px;
  color: #ffffff;
}

.form__title {
  font-style: normal;
  font-weight: bold;
  font-size: 38.5px;
  line-height: 50px;
  text-align: center;
}

.form__input {
  width: 660px;
  height: 70px;
  background: none;
  padding-top: 20px;
  border: none;
  outline: 0px;
  color: #ffffff;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom: px solid #ffffff;
  bottom: 5px;
  left: 0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 50px;
  letter-spacing: 10px;
}

.form__btn {
  background: none;
}

@media screen and (max-width: 500px) {
  .form {
    background-color: #000002;
    text-align: center;
    font-family: Source Sans Pro;
  }
  .form__container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0;
    max-width: 1200px;
    max-height: 2000px;
    color: #ffffff;
  }
  .form__title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
  .form__input {
    width: 200px;
    height: 70px;
    background: none;
    padding-top: 20px;
    border: none;
    outline: 0px;
    color: #ffffff;
    -ms-flex-line-pack: center;
        align-content: center;
    border-bottom: px solid #ffffff;
    bottom: 5px;
    left: 0;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 50px;
    letter-spacing: 4px;
  }
  .form__btn {
    background: none;
  }
  .form__imgBtn {
    width: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=main.css.map */