@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
.hero {
  background-image: url("../Recursos/Patters.png");
  background-size: cover;
  background-position: center;
}

.hero__container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px 0;
  max-width: 1200px;
  max-height: 600px;
  color: #ffffff;
}

.hero__name {
  font-family: Sora;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 177.7%;
  letter-spacing: 0.265em;
}

.hero__subname {
  font-family: Sora;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 177.7%;
  letter-spacing: 0.46em;
}

.hero__navigation {
  font-family: Sora;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 177.7%;
  letter-spacing: 0.265em;
  text-align: right;
}

.hero__text {
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 200%;
  text-transform: uppercase;
  letter-spacing: 0.265em;
  color: white;
  margin-bottom: 100em;
}

.about {
  background-image: url(../Recursos/About.png);
  font-family: Source Sans Pro;
  background-size: cover;
}

.about__container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px 0;
  max-width: 1200px;
  max-height: 2000px;
  color: #ffffff;
}

.about__title {
  margin-top: 350px;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 177.7%;
  letter-spacing: 0.265em;
  text-align: center;
  text-transform: uppercase;
}

.about__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 177.7%;
  text-align: center;
  letter-spacing: 0.25em;
}

.products {
  background-image: url(../Recursos/Products.png);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  font-family: Source Sans Pro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1080px;
}

.products__name {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.promotion {
  background-image: url(../Recursos/Promotion.png);
  font-family: Source Sans Pro;
  background-size: cover;
}

.promotion__container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px 0;
  max-width: 1200px;
  max-height: 2000px;
  color: #ffffff;
}

.promotion__title {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 177.7%;
  text-align: center;
  letter-spacing: 0.265em;
  text-transform: uppercase;
}

.promotion__text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 177.7%;
  text-align: center;
  letter-spacing: 0.25em;
}

.promotion__btn {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 29px;
  padding-right: 28px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ffffff00;
  border: 1.5px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.promotion__btn:hover {
  color: #ffffff00;
  background-color: #ffffff;
}

.footer {
  background-color: #000002;
  color: #ffffff;
  font-family: Source Sans Pro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 571px;
  padding: 50px;
}

.footer__title {
  font-style: normal;
  font-weight: bold;
  font-size: 38.5px;
  line-height: 50px;
}

.footer__form {
  width: 100%;
  height: 123px;
  max-width: 481px;
  position: relative;
}

.footer__input {
  width: 100%;
  height: 100%;
  background: none;
  padding-top: 20px;
  border: none;
  outline: 0px;
  color: #ffffff;
  font-family: Source Sans Pro;
}

.footer__lbl {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #c7c7c7;
}

.footer__textlbl {
  position: absolute;
  bottom: 5px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 50px;
  letter-spacing: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */